# Dependencies
node_modules/

# Environment variables
.env
*.env
backend/.env

# Production build
build/

# Testing
coverage/

# Misc
.DS_Store
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
